* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont-register {
  display: flex;
  height: 100vh;
  background-color: #ebebeb;
}
.cont-town {
  height: 100vh;
  width: 50vw;
}
.Town-img {
  height: 100%;
  width: 50vw;
}
