* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */
.body-box {
  height: 100vh;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .body-box {
    background-image: url(../../src/images/Naruto-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
